{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cambio de mando{% endblock %}</title>
    {% if adsense_client %}
    <meta name="google-adsense-account" content="{{ adsense_client }}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ adsense_client }}"
     crossorigin="anonymous"></script>
    {% endif %}
    <link rel="icon" type="image/jpeg" href="{% static 'img/favicon.jpg' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'global/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
